arrow==1.1.0
astroid==2.5.6
attrs==21.2.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2021.5.30
chardet==3.0.4
click==8.0.1
Flask==2.0.1
google-trans-new==1.1.9
googletrans==3.0.0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2020.12.22
html5validator==0.4.0
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
iniconfig==1.1.1
isort==5.8.0
itsdangerous==2.0.1
Jinja2==3.0.1
lazy-object-proxy==1.6.0
MarkupSafe==2.0.1
mccabe==0.6.1
packaging==20.9
pinyin==0.4.0
pkg-resources==0.0.0
pluggy==0.13.1
-e git+https://github.com/MacNGz/project_translation.git@38921582fd78b9cab2a6855eaf47e2f782e136e7#egg=project_translation
py==1.10.0
pycodestyle==2.7.0
pydocstyle==6.1.1
pylint==2.8.3
pyparsing==2.4.7
pytest==6.2.4
pytest-mock==3.6.1
python-dateutil==2.8.1
PyYAML==5.4.1
requests==2.25.1
rfc3986==1.5.0
six==1.16.0
sniffio==1.2.0
snowballstemmer==2.1.0
soupsieve==2.2.1
toml==0.10.2
urllib3==1.26.5
Werkzeug==2.0.1
wrapt==1.12.1
